@font-face {
	font-family:"BreeSerif-Regular.ttf" ;
	src: url(fonts/BreeSerif-Regular.ttf);
	font-weight: normal;
}

*{ 	box-sizing: border-box;
	padding:5px 0;	
	font-family:"BreeSerif-Regular.ttf";
	text-decoration: none;
}

/*HEADER */
header{
	background-color: white;
	font-family:"BreeSerif-Regular.ttf";
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	}

.header-imagem{
	height: 100px;

	}

.header-menu{
	display: flex;
	gap: 50px;
	align-items: center;
	padding-right: 15px;
	
}

.header-menu-item{
	font-weight: 700;
	
}
/* FIM DA HEADER */

ul{
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	background-color: #008037;
	height:35px;
	}

.usuario a:link{
	text-decoration: none;
	color:black;
	
}

.usuario a:hover{
	text-decoration: none;
	color:black;
	
}

ul li{
	list-style-type: none;
	padding-right:5px;
	color:white
}

.menu a:link{
	color:white;
	text-decoration: none;
}

.banner .options{
 margin:15px;
 position:relative;
}

.banner .options img{
	width: 100%;
	height: 500px;

}

.banner .container .controles{
	position:absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}
.banner .controles button{
	background-color: rgba(238, 231, 231, 0.8);
	border: none;
	padding: 10px;
	width: 20px;
	height: 20px;
	border-radius: 30px;
	margin: 20px;
	cursor: pointer;
	text-align: absolute;
	}

.banner .controles img{
	width: 100%
}

/* INÍCIO FOOTER */
.rodape	{
	background-color: #008037;
	padding: 5px 0;
	height: 250px;
	display: flex;
	margin:0 auto;
	flex-direction: column;
	justify-content: center
	
} 
.rodape-info{
	padding: 5px;
	text-align: justify;
	}

.rodape-info-adress{
	padding: 5px;
	text-align: justify;
	}

.rodape-info-tel{
	padding: 5px;
	padding-bottom: 10px;
}
